  //
// Panels custom styles
// --------------------------------------------------

// Light
//
$accordion-corporate-color: $gray-darker;
$accordion-corporate-background: $white;
$accordion-corporate-border: $albus;
$accordion-corporate-content-color: $text-color;
$accordion-corporate-arrow-color: $white;
$accordion-corporate-arrow-background: $primary;
$accordion-corporate-shadow: none;
$accordion-corporate-border-radius: 0;
$accordion-corporate-header-padding: 19px 82px 19px 32px;
$accordion-corporate-content-padding: 25px 44px 25px nth($accordion-corporate-header-padding, 4);

/*
* Panel groups
*/
.panel-group {
  margin-bottom: 0;
  
  .panel-collapse > .panel-body,
  .panel-collapse > .list-group {
    border-top: 0;
  }
  
  .panel + .panel {
    margin-top: 0;
  }
}

.panel-group-corporate {
  .panel + .panel {
    margin-top: 20px;
  }
}

.panel-custom {
  margin: 0;
  background: inherit;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: left;
  
  a {
    display: block;
  }
  
  // Panel heading
  .panel-heading {
    padding: 0;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  // Panel contents
  .panel-body {
    padding: 0;
    border: 0;
  }
}

* + .panel-group-custom {
  margin-top: 35px;
}

/*
* Panel corporate
*/
.panel-corporate {
  text-align: left;
  
  .panel-title a,
  .panel-collapse {
    background: $accordion-corporate-background;
  }
  
  .panel-title a {
    position: relative;
    z-index: 1;
    padding: $accordion-corporate-header-padding;
    font-family: $font-family-sec;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: .075em;
    color: $accordion-corporate-color;
    transition: 1.3s all ease;
    
    // Open state
    .panel-arrow {
      transition: .33s;
    }
    
    // Collapsed state
    &.collapsed {
      border-bottom-width: 0;
      
      .panel-arrow {
        &::before { opacity: 1; }
        &::after { opacity: 0; }
      }
    }
  }
  
  // Panel arrow
  .panel-arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 67px;
    z-index: 2;
    background: $accordion-corporate-arrow-background;
    color: $accordion-corporate-arrow-color;
    transition: .33s all ease;
    text-align: center;
    
    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      font-family: 'Material Icons';
      font-size: 24px;
      line-height: 1;
      transition: .22s;
    }
    
    &::before {
      content: '\e145';
      opacity: 0;
    }
    
    &::after {
      content: '\e15b';
      opacity: 1;
    }
    
    &:hover {
      background: $primary;
    }
  }
  
  .panel-collapse {
    position: relative;
    z-index: 1;
    color: $accordion-corporate-content-color;
  }
  
  .panel-body {
    border-top: 1px solid $accordion-corporate-border;
    padding: $accordion-corporate-content-padding;
  }
  
  // Media queries
  @media (max-width: $screen-xs-max) {
    .panel-title a {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 16px;
    }
    
    .panel-arrow {
      width: 41px;
      //height: 30px;
      
      &::before,
      &::after {
        font-size: 18px;
      }
    }
    .panel-title a,
    .panel-body {
      padding-left: 25px;
    }
  }
}