// Element-groups
@mixin group($offset-x, $offset-y) {
  margin-left: -$offset-x;
  &,
  &:last-child {
    margin-bottom: -$offset-y;
  }
  > * {
    display: inline-block;
    flex-direction: column;
    margin-left: $offset-x;
    margin-top: 0;
    &,
    &:last-child {
      margin-bottom: $offset-y;
    }
  }
  > .button {
    display: inline-flex;
    flex-direction: row;
  }
  > * + .button {
    margin-top: 0;
  }
}