extends  ../_skeleton

block variables
  - var activeCategory = 'Pages'

block title
  title Typography

block page
  // Page Header
  include ../sections/_header-default

  +breadcrumb-classic('images/bg-01.jpg', 'Typography',
  {
    0: {
      "title": "Home",
      "href": "./"
    },
    1: {
      "title": "Additional Pages",
      "href": "#"
    },
    2: {
      "title": "Typography"
    }
  }
  )

  section.section.section-lg.bg-white
    .shell
      .range.range-xs-center
        .cell-lg-7
          .range.range-60.range-lg-90
            .cell-xs-12
              div(style='max-width: 770px')
                h1 H1 Heading
                p.text-gray-darker Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
                h2.head-demo H2 Heading
                p.text-gray-darker Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
                h3.head-demo H3 Heading
                p.text-gray-darker Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
                h4.head-demo H4 Heading
                p.text-gray-darker Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
                h5 H5 Heading
                p.text-gray-darker Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
                h6 H6 Heading
                p.text-gray-darker Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
            .cell-xs-12
              div(style='max-width: 790px')
                h3 Blockquote
                .quote-primary
                  .quote-primary-body
                    svg.quote-primary-mark(version='1.1', baseprofile='tiny', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='21px', height='15px', viewbox='0 0 21 15', overflow='scroll', xml:space='preserve', preserveAspectRatio='none')
                      path(d='M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316\
                               c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37\
                               C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316\
                               c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37\
                               C20.106,7.145,20.987,8.493,20.987,10.412z')
                    .quote-primary-text: p.q Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
                  .quote-primary-footer
                    span.cite Dennis Williams
            .cell-xs-12
              div(style='max-width: 770px')
                h3.head-demo HTML Text Elements
                p.text-gray-darker.
                  Welcome to our wonderful world. #[span.text-bold This is a bold text] #[span.mark This is a highlighted text] #[a(href="#") Link text] #[a.link-hover(href="#") Link hover text] #[a.link-press(href="#") Press link] #[span.tooltip-custom #[span(data-toggle='tooltip', data-placement='top', title='Welcome to our wonderful world') Tooltips]] We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. #[span.text-strike This is a strickethrough text] #[span.text-underline This is an underlined text].
            .cell-xs-12
              div(style='max-width: 840px')
                h3.head-demo Unordered List
                p.text-gray-darker We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests.
                ul.list.list-marked.text-gray-darker(style='margin-left: 30px')
                  li Consulting
                  li Customer Service
                  li Innovation
                  li Management
                  li Ethics
                p.text-gray-darker We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.

            .cell-xs-12
              div(style='max-width: 840px')
                h3.head-demo Ordered List
                p.text-gray-darker We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests.
                ul.list.list-md.list-index.text-gray-darker(style='margin-left: 30px')
                  li
                    span.list-index-counter
                    | Consulting
                  li
                    span.list-index-counter
                    | Customer Service
                  li
                    span.list-index-counter
                    | Innovation
                  li
                    span.list-index-counter
                    | Management
                  li
                    span.list-index-counter
                    | Ethics

                p.text-gray-darker We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.
        .cell-lg-3
          .heading-group-demo.veil.reveal-lg-inline-block
            h1 H1 Heading
            h2 H2 Heading
            h3 H3 Heading
            h4 H4 Heading
            h5 H5 Heading
            h6 H6 Heading
    .shell.text-left
      h3 Icon List
      .range
        .cell-sm-3
          .block-xs.icon-block-demo
            span.icon.icon-xl.icon-shaft.fa-thumbs-up
            h4.icon-block-demo-title Best Service
            p.text-gray-darker Our mission is to attract and retain customers by providing Best in Class solutions and fostering a profitable, disciplined culture of safety, service, and trust.
        .cell-sm-3
          .block-xs.icon-block-demo
            span.icon.icon-xl.icon-shaft.fa-users
            h4.icon-block-demo-title Reputation
            p.text-gray-darker We have established a strong presence in the industry. Our award-winning services earn a reputation for quality and excellence that few can rival.
        .cell-sm-3
          .block-xs.icon-block-demo
            span.icon.icon-xl.icon-shaft.fa-lock
            h4.icon-block-demo-title Safety & Security
            p.text-gray-darker Safety for our employees, customers and the community we work with will always remain our primary focus in all the policies, procedures and programs.
      .range.range-xs-center.range-lg-left
        .cell-lg-8
          div(style='max-width: 869px')
            h3 Image Centered
            +jpg('typography-01-869x485')
            p.text-small.text-snow Fast. Cheap. Reliable Service.
            p.text-gray-darker Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
    .shell.text-left
      h3 Image Left
      .range.range-xs-center.range-sm-left.range-15
        .cell-sm-4.cell-lg-3
          +jpg('typography-01-420x258')
        .cell-sm-4.cell-lg-3
          p.text-gray-darker Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
    .shell.text-left
      h3 Image Right
      .range.range-xs-center.range-sm-left.range-15
        .cell-sm-4.cell-lg-3
          p.text-gray-darker Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        .cell-sm-4.cell-lg-3
          +jpg('typography-01-420x258')

  // Page Footer
  include ../sections/_footer-default