/*
*
* Text styling
* --------------------------------------------------
*/


// Text style
//

.text-italic {
  font-style: italic;
}

.text-normal {
  font-style: normal;
}

// Text decoration
//

.text-underline {
  text-decoration: underline;
}

.text-strike {
  text-decoration: line-through;
}

// Text weight
//

.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}

.text-regular{
  font-weight: 400;
}

.text-medium{
  font-weight: 500;
}

.text-sbold{
  font-weight: 600;
}

.text-bold, strong {
  font-weight: 700;
}

.text-ubold {
  font-weight: 900;
}

// TExt Font
.font-base {
  font-family: $font-family-base;
}

.font-sec {
  font-family: $font-family-sec;
}

// Text spacing
//

.text-spacing-0{
  letter-spacing: 0;
}

.text-spacing-50 {
  letter-spacing: .050em;
}

.text-spacing-75 {
  letter-spacing: .075em;
}

.text-spacing-80 {
  letter-spacing: .08em;
}

.text-spacing-200 {
  letter-spacing: .2em;
}