svg(x='0px', y='0px', width='63px', height='63px', viewbox='0 0 165.855 168.048')
  g
    defs

    clippath
      use
    path(d='M102.546,168.048H63.309c-1.446,0-2.618-1.172-2.618-2.618v-42.891\
    l-37.146,21.445c-1.253,0.724-2.853,0.294-3.576-0.958l-19.618-33.98c-0.723-1.252-0.294-2.853,0.958-3.575l37.145-21.447\
    L1.309,62.578c-1.252-0.723-1.681-2.324-0.958-3.576l19.618-33.981c0.723-1.251,2.323-1.683,3.576-0.957l37.146,21.445V2.617\
    C60.691,1.171,61.863,0,63.309,0h39.237c1.447,0,2.618,1.171,2.618,2.617v42.892l37.145-21.445\
    c1.252-0.726,2.853-0.294,3.576,0.957l19.619,33.982c0.347,0.602,0.442,1.316,0.262,1.986c-0.18,0.671-0.618,1.243-1.22,1.59\
    l-37.145,21.445l37.145,21.446c0.602,0.347,1.04,0.919,1.22,1.59c0.18,0.67,0.085,1.385-0.262,1.986l-19.619,33.98\
    c-0.723,1.252-2.324,1.682-3.576,0.958l-37.145-21.444v42.89C105.164,166.876,103.993,168.048,102.546,168.048 M65.926,162.813\
    h34.003v-44.807c0-0.935,0.499-1.799,1.309-2.267c0.81-0.467,1.808-0.467,2.618,0l38.804,22.403l17.001-29.447l-38.804-22.403\
    c-0.81-0.468-1.309-1.333-1.309-2.268c0-0.935,0.499-1.799,1.309-2.266l38.804-22.405L142.66,29.906L103.856,52.31\
    c-0.81,0.467-1.808,0.467-2.618,0c-0.81-0.468-1.309-1.332-1.309-2.267V5.235H65.926v44.808c0,0.935-0.499,1.799-1.309,2.267\
    c-0.809,0.467-1.807,0.467-2.617,0L23.194,29.906l-17,29.447l38.804,22.405c0.809,0.467,1.309,1.331,1.309,2.266\
    c0,0.935-0.5,1.799-1.309,2.268L6.194,108.695l17,29.447L62,115.738c0.81-0.467,1.808-0.467,2.617,0\
    c0.81,0.468,1.309,1.332,1.309,2.267V162.813z')