svg(x='0px', y='0px', width='48px', height='58px', viewbox='0 0 159.377 190.207')
  g
    defs

    clippath
      use
    path(d='M146.484,190.207H12.895C5.785,190.207,0,184.422,0,177.313V12.894\
    C0,5.785,5.785,0,12.895,0h97.589c0.695,0,1.36,0.276,1.851,0.768l46.275,46.275c1.023,1.022,1.023,2.68,0,3.702\
    c-1.021,1.022-2.679,1.022-3.701,0L109.4,5.236H12.895c-4.223,0-7.658,3.435-7.658,7.658v164.419c0,4.223,3.435,7.659,7.658,7.659\
    h133.589c4.222,0,7.658-3.436,7.658-7.659V60.029c0-1.445,1.172-2.617,2.617-2.617c1.446,0,2.618,1.172,2.618,2.617v117.284\
    C159.377,184.422,153.593,190.207,146.484,190.207')
    path(d='M156.759,51.512H120.76c-7.11,0-12.893-5.784-12.893-12.894V2.619\
    c0-1.059,0.636-2.014,1.615-2.419c0.977-0.406,2.103-0.182,2.852,0.568l46.275,46.275c0.75,0.749,0.973,1.875,0.568,2.853\
    S157.818,51.512,156.759,51.512 M113.102,8.938v29.68c0,4.223,3.436,7.659,7.659,7.659h29.68L113.102,8.938z')
    path(d='M123.401,174.613h-18.043c-1.446,0-2.618-1.172-2.618-2.617v-12.938H89.805\
    c-1.446,0-2.618-1.171-2.618-2.617v-18.042c0-1.445,1.172-2.617,2.618-2.617h12.935v-12.936c0-1.446,1.172-2.618,2.618-2.618\
    h18.043c1.446,0,2.617,1.172,2.617,2.618v12.936h12.936c1.445,0,2.618,1.172,2.618,2.617v18.042c0,1.446-1.173,2.617-2.618,2.617\
    h-12.936v12.938C126.019,173.441,124.847,174.613,123.401,174.613 M107.977,169.378h12.808v-12.937\
    c0-1.446,1.171-2.618,2.617-2.618h12.935v-12.805h-12.935c-1.446,0-2.617-1.173-2.617-2.619v-12.936h-12.808v12.936\
    c0,1.446-1.172,2.619-2.618,2.619H92.423v12.805h12.936c1.446,0,2.618,1.172,2.618,2.618V169.378z')
    path(d='M138.954,69.391H38.393c-1.446,0-2.618-1.172-2.618-2.618\
    s1.172-2.617,2.618-2.617h100.562c1.445,0,2.618,1.171,2.618,2.617S140.399,69.391,138.954,69.391')
    path(d='M138.954,89.377H20.424c-1.445,0-2.617-1.171-2.617-2.617\
    s1.172-2.617,2.617-2.617h118.531c1.445,0,2.618,1.171,2.618,2.617S140.399,89.377,138.954,89.377')
    path(d='M138.954,108.706H20.424c-1.445,0-2.617-1.172-2.617-2.618\
    c0-1.445,1.172-2.617,2.617-2.617h118.531c1.445,0,2.618,1.172,2.618,2.617C141.572,107.534,140.399,108.706,138.954,108.706')
