svg(x='0px', y='0px', width='60px', height='61px', viewbox='0 0 169.091 174.903')
  g
    defs

    clippath
      use
    path(d='M75.85,174.903c-3.529,0.001-7.199-0.505-10.957-1.539\
    c-22.727-6.247-41.661-20.97-53.314-41.456C-0.075,111.42-3.052,87.621,3.195,64.894s20.97-41.662,41.457-53.315\
    C65.14-0.074,88.938-3.053,111.665,3.195c12.145,3.338,19.135,7.947,21.998,14.506c4.405,10.091-2.006,22.424-10.123,38.037\
    c-1.243,2.392-2.526,4.862-3.816,7.408c-0.652,1.291-2.227,1.808-3.516,1.155c-1.29-0.653-1.807-2.228-1.154-3.517\
    c1.297-2.565,2.59-5.051,3.841-7.46c7.473-14.375,13.374-25.728,9.97-33.528c-2.151-4.928-8.23-8.707-18.587-11.554\
    C88.899,2.366,66.513,5.168,47.241,16.13C27.969,27.092,14.119,44.902,8.243,66.282c-5.877,21.378-3.076,43.766,7.886,63.037\
    c10.962,19.272,28.773,33.121,50.152,38.998c20.412,5.611,30.556-7.14,33.968-12.883c7.03-11.834,6.749-27.109-0.64-34.775\
    c-1.003-1.041-0.971-2.698,0.07-3.701c1.04-1.004,2.698-0.973,3.701,0.068c9.09,9.433,9.68,27.094,1.37,41.082\
    C98.269,169.018,87.887,174.902,75.85,174.903')
    path(d='M155.739,171.376c-4.49,0.001-8.334-4.345-8.785-4.874\
    c-0.571-0.669-0.767-1.581-0.524-2.426c0.076-0.259,7.373-26.097-3.113-38.434c-4.557-5.363-12.073-7.458-22.331-6.229\
    c-3.822,0.458-7.817,0.861-11.682,1.252c-19.749,1.996-40.169,4.059-53.427,14.277c-1.146,0.884-2.789,0.67-3.671-0.475\
    c-0.883-1.145-0.67-2.789,0.475-3.67c14.441-11.131,35.618-13.271,56.098-15.341c3.839-0.388,7.811-0.789,11.584-1.242\
    c12.117-1.45,21.186,1.256,26.951,8.046c10.825,12.75,6.069,35.671,4.542,41.78c1.249,1.138,2.954,2.255,4.109,2.085\
    c0.907-0.136,1.618-1.304,2.065-2.296c0.857-2.434,19.965-58.366-16.649-78.935C89.682,55.853,93.308,29.88,93.488,28.788\
    c0.233-1.427,1.582-2.392,3.007-2.158c1.427,0.235,2.393,1.581,2.158,3.008c-0.029,0.207-2.783,23.686,45.292,50.692\
    c17.119,9.617,25.801,27.531,25.107,51.807c-0.514,17.981-5.901,32.936-6.13,33.564c-0.02,0.053-0.041,0.107-0.065,0.159\
    c-1.771,4.017-4.316,5.179-6.138,5.445C156.389,171.354,156.062,171.376,155.739,171.376')
    path(d='M86.719,69.071c-3.666,0-8.441-1.189-14.472-3.568\
    c-1.344-0.531-2.004-2.052-1.473-3.396c0.531-1.346,2.053-2.004,3.396-1.474c12.447,4.915,15.298,2.879,15.876,2.138\
    c2.661-3.41-3.605-16.566-10.937-26.798c-0.843-1.175-0.573-2.811,0.603-3.653c1.174-0.841,2.81-0.571,3.652,0.603\
    c2.926,4.085,17.202,24.875,10.81,33.069C92.574,68.044,90.125,69.071,86.719,69.071')
    path(d='M54.276,114.198c-1.259,0-2.368-0.91-2.58-2.192\
    c-0.236-1.427,0.73-2.774,2.157-3.009c24.031-3.96,32.754-11.265,32.921-16.316c0.15-4.555-6.534-10.748-21.809-14.317\
    c-1.407-0.329-2.282-1.736-1.954-3.144c0.33-1.407,1.733-2.283,3.146-1.954c16.464,3.848,26.128,11.169,25.849,19.588\
    c-0.325,9.83-13.573,17.398-37.301,21.309C54.56,114.186,54.417,114.198,54.276,114.198')