svg(x='0px', y='0px', width='61px', height='66px', viewbox='0 0 159.27 174.452')
  g
    defs
    clippath
      use
    path(d='M44.923,174.452c-1.278,0-2.396-0.937-2.587-2.239\
    c-0.209-1.43,0.78-2.76,2.211-2.969l13.755-2.016c1.431-0.209,2.76,0.781,2.97,2.211c0.209,1.43-0.781,2.76-2.211,2.97\
    l-13.756,2.014C45.176,174.443,45.049,174.452,44.923,174.452')
    path(d='M123.628,164.417c-1.309,0-2.439-0.98-2.597-2.312\
    c-0.169-1.436,0.858-2.736,2.294-2.906l15.519-1.828c1.44-0.166,2.737,0.859,2.906,2.293c0.169,1.437-0.857,2.737-2.293,2.906\
    l-15.519,1.829C123.834,164.411,123.73,164.417,123.628,164.417')
    path(d='M58.684,172.436c-0.089,0-0.18-0.004-0.27-0.014\
    c-1.438-0.148-2.484-1.433-2.337-2.871l2.211-21.531c-3.58-0.313-7.802,1.161-11.906,2.594c-6.607,2.309-14.097,4.925-19.591-0.389\
    c-4.094-3.962-5.03-8.51-5.214-14.564l-0.203-11.886c-0.047-1.032-0.118-2.185-0.213-3.384c-0.06-0.747-0.239-1.73-0.748-2.158\
    c-0.925-0.775-3.52-0.528-5.809-0.311c-4.825,0.457-12.114,1.15-14.358-7.1c-1.161-4.258,1.891-10.507,6.949-20.858\
    c5.297-10.841,12.55-25.688,17.777-44.458C31.167,23.264,52.569,4.272,74.754,1.329c27.521-3.651,47.786,0.206,61.951,11.791\
    c13.356,10.924,20.662,28.211,22.335,52.847c2.04,30.014-9.654,56.948-31.327,72.337l-1.47,23.657\
    c-0.09,1.443-1.329,2.545-2.775,2.451c-1.443-0.09-2.539-1.332-2.45-2.775l1.548-24.92c0.05-0.807,0.47-1.545,1.137-2\
    c20.802-14.199,32.06-39.767,30.115-68.394c-1.571-23.116-8.253-39.193-20.428-49.151C120.587,6.702,101.091,3.116,75.442,6.519\
    c-20.231,2.684-39.76,20.049-45.427,40.392C24.66,66.143,17.284,81.24,11.898,92.263c-3.725,7.625-7.243,14.826-6.601,17.184\
    c0.989,3.634,3.321,3.785,8.812,3.263c3.473-0.329,7.066-0.671,9.668,1.513c1.523,1.277,2.398,3.212,2.602,5.75\
    c0.101,1.263,0.174,2.476,0.227,3.64l0.204,11.924c0.151,4.947,0.773,8.169,3.622,10.925c2.961,2.866,7.349,1.613,14.224-0.79\
    c5.731-2.003,11.658-4.073,17.295-2.22c1.169,0.384,1.912,1.53,1.786,2.754l-2.452,23.88\
    C61.146,171.433,60.01,172.436,58.684,172.436')
    path(d='M125.308,83.37h-0.003c-4.672,0-10.107-1.266-16.4-2.732\
    c-6.097-1.42-13.006-3.03-20.279-3.664c-2.627-0.229-5.37-0.341-8.387-0.341c-4.267,0-8.31,0.222-12.22,0.435\
    c-3.389,0.185-6.591,0.361-9.527,0.361c-5.595,0-11.828-0.562-15.642-4.721c-2.868-3.13-3.982-7.856-3.407-14.449\
    c2.116-24.216,23.48-42.478,49.693-42.478c1.596,0,3.216,0.071,4.815,0.21c27.808,2.43,48.602,25.342,46.355,51.077\
    C139.335,78.19,134.569,83.37,125.308,83.37 M80.239,71.398c3.17,0,6.062,0.118,8.841,0.36c7.644,0.668,14.746,2.322,21.013,3.782\
    c5.978,1.392,11.142,2.595,15.213,2.595h0.002c5.419,0,8.945-1.927,9.783-11.523c1.995-22.859-16.664-43.227-41.596-45.405\
    c-1.448-0.126-2.915-0.19-4.359-0.19c-23.478,0-42.599,16.206-44.477,37.698c-0.441,5.048,0.23,8.469,2.051,10.455\
    c1.942,2.119,5.466,3.023,11.782,3.023c2.793,0,5.926-0.171,9.241-0.353C71.714,71.623,75.829,71.398,80.239,71.398')
    path(d='M101.255,164.417c-1.392,0-2.55-1.096-2.613-2.5\
    c-0.917-20.343,1.921-25.591,6.217-33.535c2.36-4.364,5.297-9.795,8.396-19.53c6.227-19.549,2.832-26.144,0.999-27.036\
    c0.091,0.045,0.146,0.056,0.146,0.056l1.643-4.972c1.945,0.644,11.2,5.283,2.201,33.541c-3.249,10.203-6.316,15.874-8.78,20.431\
    c-4.155,7.684-6.444,11.917-5.592,30.809c0.065,1.444-1.054,2.668-2.497,2.733C101.335,164.416,101.295,164.417,101.255,164.417')