svg(x='0px', y='0px', width='64px', height='57px', viewbox='0 0 155.572 136.916')
  g
    defs

    clippath
      use
    path(d='M111.729,136.916H43.844c-15.01,0-27.223-12.214-27.223-27.226V92.6\
    c0-1.446,1.172-2.617,2.618-2.617c1.445,0,2.617,1.171,2.617,2.617v17.09c0,12.125,9.865,21.99,21.988,21.99h67.885\
    c10.4,0,19.461-7.383,21.543-17.555c0.291-1.419,1.682-2.328,3.09-2.04c1.416,0.289,2.33,1.673,2.039,3.089\
    C135.823,127.771,124.606,136.916,111.729,136.916')
    path(d='M136.336,106.52c-1.447,0-2.619-1.172-2.619-2.618\
    c0-1.445,1.172-2.617,2.619-2.617c7.721,0,14.002-6.282,14.002-14.001c0-7.72-6.281-14-14.002-14c-1.447,0-2.619-1.171-2.619-2.618\
    c0-1.445,1.172-2.617,2.619-2.617c10.607,0,19.236,8.629,19.236,19.235S146.943,106.52,136.336,106.52')
    path(d='M19.238,106.52C8.631,106.52,0,97.89,0,87.284s8.631-19.235,19.238-19.235\
    c1.445,0,2.617,1.172,2.617,2.617c0,1.447-1.172,2.618-2.617,2.618c-7.721,0-14.002,6.28-14.002,14\
    c0,7.719,6.281,14.001,14.002,14.001c1.445,0,2.617,1.172,2.617,2.617C21.855,105.348,20.683,106.52,19.238,106.52')
    path(d='M53.762,85.187c-4.084,0-7.408-3.322-7.408-7.406V65.424\
    c0-4.085,3.324-7.407,7.408-7.407c4.082,0,7.404,3.322,7.404,7.407v12.357C61.166,81.865,57.844,85.187,53.762,85.187\
    M53.762,63.253c-1.197,0-2.172,0.974-2.172,2.171v12.357c0,1.196,0.975,2.171,2.172,2.171c1.195,0,2.17-0.975,2.17-2.171V65.424\
    C55.932,64.227,54.957,63.253,53.762,63.253')
    path(d='M101.645,85.187c-4.082,0-7.404-3.322-7.404-7.406V65.424\
    c0-4.085,3.322-7.407,7.404-7.407c4.084,0,7.406,3.322,7.406,7.407v12.357C109.051,81.865,105.729,85.187,101.645,85.187\
    M101.645,63.253c-1.195,0-2.17,0.974-2.17,2.171v12.357c0,1.196,0.975,2.171,2.17,2.171c1.197,0,2.172-0.975,2.172-2.171V65.424\
    C103.817,64.227,102.842,63.253,101.645,63.253')
    path(d='M136.336,81.821c-1.447,0-2.619-1.171-2.619-2.617v-17.06\
    c0-12.127-9.863-21.992-21.988-21.992c-0.053,0-0.106-0.002-0.159-0.005l-8.263-0.498c-0.451-0.028-0.889-0.171-1.268-0.417\
    c-0.961-0.625-22.076-14.416-32.316-27.011c-3.075,4.353-5.084,8.118-6.116,11.446c-0.238,0.774-0.822,1.393-1.58,1.676\
    c-0.759,0.284-1.605,0.204-2.295-0.224C50.969,19.704,45.094,14,42.191,8.104c-8.82,12.536-10.705,23.072-5.095,29.286\
    c0.58,0.642,0.804,1.529,0.601,2.37c-0.203,0.841-0.806,1.527-1.617,1.832C27.572,44.81,21.856,53.07,21.856,62.144v16.659\
    c0,1.445-1.172,2.618-2.618,2.618c-1.445,0-2.617-1.173-2.617-2.618V62.144c0-10.101,5.715-19.384,14.518-24.052\
    c-5.334-9.015-1.877-22.291,9.836-37.099c0.631-0.797,1.666-1.157,2.656-0.923c0.988,0.234,1.754,1.02,1.959,2.016\
    c1.164,5.611,5.937,11.27,14.207,16.846c1.644-3.799,4.228-7.983,7.83-12.691c0.512-0.668,1.295-1.044,2.154-1.026\
    c0.842,0.024,1.619,0.452,2.092,1.148c7.69,11.343,28.715,25.618,32.449,28.103l7.489,0.452\
    c14.974,0.043,27.142,12.24,27.142,27.226v17.06C138.953,80.65,137.781,81.821,136.336,81.821')
    path(d='M78.004,121.236c-23.592,0-39.145-11.555-39.795-12.047\
    c-1.152-0.872-1.381-2.514-0.51-3.667c0.871-1.152,2.514-1.381,3.664-0.511c0.217,0.162,14.932,10.99,36.641,10.99\
    c21.762,0,36.496-10.881,36.641-10.991c1.152-0.867,2.795-0.638,3.666,0.516c0.869,1.154,0.64,2.792-0.512,3.663\
    C117.15,109.681,101.596,121.236,78.004,121.236')