svg(x='0px', y='0px', width='70px', height='41px', viewbox='0 0 176.633 102.195')
  g
    defs

    clippath
      use
    path(d='M88.562,102.195h-0.009l-0.664-0.003c-48.004-0.42-85.718-45.972-87.3-47.91\
    c-0.769-0.942-0.787-2.289-0.046-3.251C2.147,48.946,40.375,0,88.182,0l0.603,0.002c48.078,0.421,85.751,50.437,87.332,52.566\
    c0.724,0.976,0.682,2.321-0.103,3.249C174.414,57.711,136.263,102.195,88.562,102.195 M6.03,52.575\
    c7.176,8.097,41.31,44.027,81.905,44.382l0.618,0.003c40.377,0.004,74.779-35.009,82.052-42.941\
    c-7.003-8.705-41.191-48.426-81.867-48.782l-0.556-0.003C47.704,5.234,13.147,44.032,6.03,52.575')
    path(d='M88.334,88.636c-20.507,0-37.303-16.564-37.533-37.119\
    c-0.112-10.026,3.687-19.496,10.698-26.665c7.011-7.169,16.394-11.18,26.42-11.292c5.982-0.072,11.749,1.244,17.089,3.895\
    c1.295,0.644,1.823,2.214,1.181,3.509c-0.645,1.295-2.216,1.823-3.509,1.18c-4.592-2.28-9.531-3.406-14.702-3.349\
    c-8.628,0.096-16.703,3.548-22.736,9.717c-6.034,6.169-9.303,14.319-9.206,22.947c0.198,17.687,14.653,31.942,32.3,31.942\
    c0.121,0,0.241,0,0.364-0.002c17.81-0.2,32.138-14.853,31.939-32.664c-0.062-5.514-1.536-10.941-4.264-15.695\
    c-0.719-1.255-0.286-2.854,0.968-3.573c1.254-0.72,2.853-0.286,3.573,0.967c3.171,5.529,4.886,11.836,4.959,18.242\
    c0.23,20.697-16.419,37.725-37.116,37.958C88.617,88.635,88.475,88.636,88.334,88.636')
    path(d='M88.348,68.84c-9.68-0.001-17.645-7.879-17.754-17.56\
    c-0.109-9.793,7.769-17.849,17.561-17.957l0.205-0.001c4.664,0,9.071,1.796,12.411,5.06c3.391,3.317,5.287,7.756,5.341,12.499\
    c0.109,9.793-7.769,17.849-17.56,17.958L88.348,68.84z M88.36,38.557h-0.146c-6.906,0.077-12.462,5.758-12.385,12.664\
    c0.076,6.828,5.693,12.383,12.52,12.384l0.145-0.001c6.905-0.077,12.46-5.758,12.383-12.664c-0.038-3.346-1.375-6.476-3.766-8.815\
    C94.757,39.825,91.649,38.557,88.36,38.557')