-
  var config = {
    brandName: 'Health',
    brandLogoDefault: 'logo-128x44',
    getTemplateLink: '#get-template-link',
    contactLink: 'contacts.html',
    postLink: 'news-page.html',
    includeLayoutPanel: false
  }